<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930932145691-ggcbtd25jd3akiereah69no15395f06j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930932145691-ggcbtd25jd3akiereah69no15395f06j</string>
	<key>API_KEY</key>
	<string>AIzaSyCTrG9Pp5GNIy2lXhLslYIVyno2J81JWW0</string>
	<key>GCM_SENDER_ID</key>
	<string>930932145691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>daly.threads</string>
	<key>PROJECT_ID</key>
	<string>threads-dedcd</string>
	<key>STORAGE_BUCKET</key>
	<string>threads-dedcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930932145691:ios:81f6f691fda09f9c1c82be</string>
</dict>
</plist>